<% if @initial_allocation_amount > 0 %>
  <p>You have been invited by <%= @inviter.name %> to collaboratively budget with <%= @group.name %> on Cobudget. You've got <%= @initial_allocation_amount_formatted %> to spend!</p>
<% else %>
  <p>You have been invited by <%= @inviter.name %> to collaboratively budget with <%= @group.name %> on Cobudget.</p>
<% end %>

<p>Cobudget helps groups allocate funds transparently and collaboratively.</p>

<% if @user.confirmed? %>
  <p>You can visit the group by clicking <%= link_to 'this link', "#{root_url}#/groups/#{@group.id}" %></p>
<% else %>
    <p><%= link_to "See how it works", "https://greaterthan.gitbooks.io/greaterthan-s-guide-to-collaborative-finance/content/learn-how-to-use-cobudget/key-features.html" %> and <%= link_to "accept invitation", "#{root_url}#/confirm_account?confirmation_token=#{@user.confirmation_token}&email=#{@user.email}&name=#{@user.name}"%>.</p>
<% end %>
