<p>Hi there!</p>

<p><%= @inviter.name %> has invited you to collaboratively budget with everyone else at <%= @group.name %>.</p>

<p>To get started, visit <%= link_to root_url, root_url %> and log in with the following details:</p>

<p>
  email: <%= @user.email %> <br />
  password: <%= @tmp_password %>
</p>

<p>
  ------------- <br />
  What is Cobudget? It's the easiest way to collaboratively decide what to do with your group's money.
</p>
