<p>
  A new bucket in <%= @group.name %> is requesting funding on Cobudget! You have <%= @membership.formatted_balance %> to spend.
</p>

<p> - - - </p>

<h1><%= @bucket.name %></h1>

<%= @bucket.description_as_markdown %>

<p> - - - </p>

<p>
  <%= link_to 'view', "#{root_url}#/buckets/#{@bucket.id}" %>
</p>