<p>
  A project you helped fund has reached its goal on Cobudget! <%= @project.name %> in <%= @group.name %> has been funded <%= @project.formatted_target %>. You contributed <%= @funder_contribution_amount %>.
</p>

<p>
  <%= link_to 'view', "#{root_url}#/projects/#{@project.id}" %>
</p>