<p>
  Cha-ching! Your project, <%= @project.name %> just was given <%= @contribution.formatted_amount %> from <%= @funder.name %> in <%= @group.name %> on Cobudget. It’s now been funded <%= @project.formatted_total_contributions %> of the <%= @project.formatted_target %> target.
</p>
  