<p>
  Cha-ching! Your bucket, <%= @bucket.name %> just was given <%= @contribution.formatted_amount %> from <%= @funder.name %> in <%= @group.name %> on Cobudget. It’s now been funded <%= @bucket.formatted_total_contributions %> of the <%= @bucket.formatted_target %> target.
</p>
  
<p>
  <%= link_to 'view', "#{root_url}#/buckets/#{@bucket.id}" %>
</p>