<p>
  A bucket you helped fund has reached its goal on Cobudget! <%= @bucket.name %> in <%= @group.name %> has been funded <%= @bucket.formatted_target %>. You contributed <%= @funder_contribution_amount %>.
</p>

<p>
  <%= link_to 'view', "#{root_url}#/buckets/#{@bucket.id}" %>
</p>