<p><%= @bucket.user.name %> has created a new bucket idea in <%= @bucket.group.name %> on Cobudget.</p>

<p> - - - </p>

<h1><%= @bucket.name %></h1>

<%= @bucket.description_as_markdown %>

<p> - - - </p>

<p>Now is your chance to help <%= @bucket.user.name %> make this idea better, or to offer your skills to help them achieve their goal!</p>

<p><%= link_to "Let's go!", "#{root_url}#/buckets/#{@bucket.id}" %></p>