<body style="font-family: Arial; font-size: 12px; padding-left: 20px; padding-top: 20px;">
  <h1 style="font-weight: normal; margin-bottom: 5px">Here's what you missed...</h1>

  <ul style="list-style: none; padding-left: 0">
    <% @user.active_groups.each do |group| %>
      <% if @recent_activity.is_present_for_group?(group) %>
        <li class="group-activity">
          <% activity = @recent_activity.for_group(group) %>

          <h2 style="font-weight: normal">In <%= group.name %></h2>

          <ul style="list-style: none">
            <% if activity[:contributions_to_live_buckets_user_authored] %>
              <%= render partial: "user_mailer/recent_activity_partials/contributions_to_live_buckets_user_authored", locals: {contributions_grouped_by_bucket: activity[:contributions_to_live_buckets_user_authored].group_by { |c| c.bucket }, user: @user} %>
            <% end %>

            <% if activity[:funded_buckets_user_authored] %>
              <%= render partial: "user_mailer/recent_activity_partials/funded_buckets_user_authored", locals: {buckets: activity[:funded_buckets_user_authored], user: @user} %>
            <% end %>

            <% if activity[:comments_on_buckets_user_authored] %>
              <%= render partial: "user_mailer/recent_activity_partials/comments_on_buckets_user_authored", locals: {comments_grouped_by_bucket: activity[:comments_on_buckets_user_authored].group_by { |c| c.bucket }, user: @user} %>
            <% end %>

            <% if activity[:comments_on_buckets_user_participated_in] %>
              <%= render partial: "user_mailer/recent_activity_partials/comments_on_buckets_user_participated_in", locals: {comments_grouped_by_bucket: activity[:comments_on_buckets_user_participated_in].group_by { |c| c.bucket }, user: @user} %>
            <% end %>

            <% if activity[:new_live_buckets] %>
              <%= render partial: "user_mailer/recent_activity_partials/new_live_buckets", locals: {buckets: activity[:new_live_buckets], membership: @user.membership_for(group)} %>
            <% end %>

            <% if activity[:new_draft_buckets] %>
              <%= render partial: "user_mailer/recent_activity_partials/new_draft_buckets", locals: {buckets: activity[:new_draft_buckets]} %>
            <% end %>

            <% if activity[:contributions_to_live_buckets_user_participated_in] %>
              <%= render partial: "user_mailer/recent_activity_partials/contributions_to_live_buckets_user_participated_in", locals: {contributions_grouped_by_bucket: activity[:contributions_to_live_buckets_user_participated_in].group_by { |c| c.bucket }, user: @user} %>
            <% end %>

            <% if activity[:new_funded_buckets] %>
              <%= render partial: "user_mailer/recent_activity_partials/new_funded_buckets", locals: {buckets: activity[:new_funded_buckets], user: @user} %>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>

  <footer style="font-size: 10px; margin-top: 20px">
    &lt;3 from cobudget. to change your email settings <a href=<%= "#{root_url}#/email_settings" %>>click here</a>
  </footer>
</body>
