<li id="new-live-buckets">
  <% if buckets.length > 1 %>
    <p><b><%= buckets.length %> Buckets</b> were proposed for <b>discussion</b>:</p>
  <% else %>
    <p><b>1 Bucket</b> was proposed for <b>discussion</b>:</p>
  <% end %>

  <ul style="list-style: none">
    <% buckets.each do |bucket| %>
      <li style="margin-bottom: 10px;">
        <a href="<%= "#{root_url}#/buckets/#{bucket.id}" %>"><b>
          <%= bucket.name %>
          <% if bucket.target %>
            <%= "(#{bucket.formatted_target})" %>
          <% end %>
        </b></a><br>
        <%= bucket.author_name %> - <%= time_ago_in_words(bucket.created_at) %> ago
      </li>
    <% end %>
  </ul>
</li>
